.container-fluid{
	margin:0 !important;
	padding:0 !important;
}
.cointainer-max-width{
	max-width:1400px;
	margin:0 auto;
	padding:0;
}
.top-nav{
	width:100%;
	height:60px;
	border-bottom:solid 1px #D5D5D5;
	padding: 13px;
}

.top-nav .top-boxes{
	display:inline-block;
	width: 30%;

}
.top-nav .top-boxes .logo{
	margin-top: -28px;
}
.top-nav .top-boxes-middle{
	display:inline-block;
	width:69%;
}

.top-nav .top-boxes-right{
	width: 100%;
	text-align:right;
	padding-right: 33px;
}
.top-nav .top-boxes-right a{
	font-size: 12px;
	color: #6D6D6D;
	padding-left: 5px;
	font-weight: bold;
	
}
.top-nav .top-boxes-middle select{
	border-radius: 4px 0px 0px 4px !important;
	max-width: 22%;
	min-width: 160px;
	font-size: 13px;
}

.top-nav .top-boxes input{
	border-radius: 0px !important;
	max-width:65%; 
	min-width:160px; 
	border-left: none;
	font-size: 13px;
}
.top-nav .top-boxes-middle img{
	margin-top: -1px;
}
.top-nav .top-boxes-right select{
	border-radius: 4px 0px 0px 4px !important;
	max-width:130px; 
	font-size: 13px;
}

.top-nav .top-boxes-right .boxes{
	display:inline-block;
	margin-left: 10px;
	
}

.top-nav-background{
	background-color:#f8f8f8;
	padding: 10px;
}
.top-nav-background .imgicon{
	padding-right:50px;
}
.top-nav-background .quicklinks{
	display:inline-block;
	padding:0 8px;
	
}
.top-nav-background .network{
	display:inline-block;
	width: 178px;
	text-align: right;
	color:#0e7cc2;
	font-size:14px;
	font-weight: bold;
	
}
.top-nav-background .network img{
	margin-top: -5px;
}
.top-nav-background .quicklinks a{
	font-size: 13px;
	font-weight: bold;
	color:#504E4E;
}

/*contents*/

.left-section{
	width:230px;
	display:inline-block;
	padding: 0 10px;
}

.left-section h1{
	font-size:15px;
	font-weight:bold;
}
.left-section .checkbox-container{
	font-size:13px;
}



.left-section .checkbox-container span{
	color:rgb(129, 129, 129);
	font-weight: bold;
}
.right-section{
	display:inline-block;
	padding: 10px;
	max-width: 1139px;
	width: 100%;
	border-left:solid 1px #D5D5D5;
}
.right-section .breadcrumb-container{
	max-width:500px;
	width:50%;
}

.right-section .box-content-container{
	width:100%;
	padding-top: 50px;
	text-align: center;
}

.right-section .box-content-container .boxes{
	display:inline-block;
	width:255px;
	border:solid 8px #eeeeee;
	background-color:#eeeeee;
	margin: 9px;
	text-align: left;
}
.right-section .box-content-container p{
	padding:10px 0;
	font-weight:bold;
}
.right-section .box-content-container .boxes .main-img{
	width:100%;
}
.right-section .box-content-container .price-container{
	width:125px;
	height:31px;
	background-image:url('/images/bg-tag.png');
	display:inline-block;
	margin-left: -8px;
}
.right-section .box-content-container .price-container span{
	padding-left: 10px;
	line-height: 30px;
	font-weight:bold;

}
.right-section .box-content-container .price-compare{
	display:inline-block;
}

.footer-contact{
			width:100%;
			border-top:solid 1px #D5D5D5;
			min-height: 60px;
		}
		.footer-contact .footer-contact-wrapper{
			height:100%;
			min-height:60px;
			
			padding:10px;
		}
		.footer-contact .contact-right{

			text-align:right;
		}
		.footer-contact .contact-right img{
			padding: 3px;
			padding-left: 0;
		}
		
		.footer{
			width:100%;
			border-top:solid 3px #e7e7e7;
			min-height: 233px;
			background-color:#eeeeee;
		}
		.footer-wrapper{
			height:100%;
			background-color:#eeeeee;
			padding:10px;
			min-height: 230px;
		}
		.footer h3{
			color: #165A99;
			font-size: 14px;
			font-weight: bold;
		}
		.footer span a{
			display:block;
			font-size:13px;
			line-height: 30px;
			color:black;
		}
		.footer h2{
			display: inline-block;
			padding-left: 10px;
			font-weight: bold;
			font-size: 27px;
		}
		.footer .newsletter-mail-icon{
			display: inline-block;
			margin-top: -15px;

		}
		.footer .footer-content-container {
			height: 60px;
		}
		.footer .control-group {
			display: inline-block;
			vertical-align: top;
			width:49.5%
		}
		.footer .learn-more{
			font-weight:bold;
			padding-left:5px;
		}
		.footer-bottom{
			width:100%;
			min-height: 60px;
			background-color:#cccccc;
			font-size:13px;
		}
		.footer-bottom .footer-bottom-wrapper{
			height:60px;
			padding: 22px 10px;
		}
		.footer-bottom .terms{
			text-align:right;
		}
		.footer-bottom .terms a{
			color:black
		}
.clear{
	clear:both;
}
.btn-custom { 
  color: #ffffff; 
  background-color: #B81A79; 
  border-color: #B81A79; 
} 
 
.btn-custom:hover, 
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  color: #ffffff; 
  background-color: #B81A79; 
  border-color: #B81A79; 
} 
 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  background-image: none; 
} 
 
.btn-custom.disabled, 
.btn-custom[disabled], 
fieldset[disabled] .btn-custom, 
.btn-custom.disabled:hover, 
.btn-custom[disabled]:hover, 
fieldset[disabled] .btn-custom:hover, 
.btn-custom.disabled:focus, 
.btn-custom[disabled]:focus, 
fieldset[disabled] .btn-custom:focus, 
.btn-custom.disabled:active, 
.btn-custom[disabled]:active, 
fieldset[disabled] .btn-custom:active, 
.btn-custom.disabled.active, 
.btn-custom[disabled].active, 
fieldset[disabled] .btn-custom.active { 
  background-color: #B81A79; 
  border-color: #B81A79; 
} 
 
.btn-custom .badge { 
  color: #B81A79; 
  background-color: #ffffff; 
}

